* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul,ol,li {
	list-style: none;
}
a {
	text-decoration: none;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
	background-color: #111;
}